{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [  
        [
            "module-resolver", 
            {    
                "root": ["./src"],    
                "alias": {      
                    "@": "./src"   
                }  
            }
        ],
        // for async await in server.js
        "@babel/plugin-transform-runtime"
    ]
}