// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Large tablets and desktops
$screen-xl-min: 1200px;

$primary-background: #dbdcdb;
$secondery-background: #efefef;

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

// Global selectors
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background: $primary-background;
}
li, ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    text-align: center;
    text-decoration: none;
}

// Common classes
.flex {
    display: flex;
    @include sm {
        flex-direction: column;
    }
    @include xl {
        flex-direction: row;
    }
}
.text-center {
    text-align: center;
}

// Targets
.content {
    .filters {
        background: $secondery-background;
        padding: 1em;
        width: 200px;
        margin: 0.5em;
    }
    .results {
        margin: 0.5em;
        .missions {
            background: $secondery-background;
            padding: 1em;
            width: 15em;
            margin: 0.25em;
            img {
                width: 15em;
                background: $primary-background;
            }
            .details {
                display: flex;
            }
        }
    }
}